.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.735);
  z-index: 1000 !important;
}

#box-outer {
  width: 80px;
  height: 80px;
  border-radius: 16px;
  -webkit-animation: rotate_29 5s infinite;
  animation: rotate_29 5s infinite;
  background-color: #5acef2;
}

#box-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 12px;
  rotate: 45deg;
  -webkit-animation: revolve_29 5s infinite;
  animation: revolve_29 5s infinite;
  background-color: #ff8062;
}

#box {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  -webkit-animation: rotate_29 5s infinite;
  animation: rotate_29 5s infinite;
  background-color: #fefefe;
}

@-webkit-keyframes revolve_29 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  25% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }

  50% {
    -webkit-transform: translateX(100%) translateY(100%);
    transform: translateX(100%) translateY(100%);
  }

  75% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes revolve_29 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  25% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }

  50% {
    -webkit-transform: translateX(100%) translateY(100%);
    transform: translateX(100%) translateY(100%);
  }

  75% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes rotate_29 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  20% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  40% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  60% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }

  80% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes rotate_29 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  20% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  40% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  60% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }

  80% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
