/* #32 shadow styles taken from https://getcssscan.com/css-box-shadow-examples  */
.movie-card {
  width: 230px;
  border-radius: 12px !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.card-title {
  padding: 5px;
  font-size: 14px;
}

.card-description {
  padding: 5px;
  font-size: 12px;
}

/* overriding bootstrap css  */
.card-img-top {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
