main {
  min-width: 512px;
}
.movie-container {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  border-radius: 20px !important;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

/* global css properties  */

.flex-align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-align-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-align-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
